server:
  port: 10095

spring:
  application:
    name: ${artifactId}
  cloud:
    stream:
      rocketmq:
        binder:
          name-server: 127.0.0.1:9876
      bindings:
        input:
          # rocketmq一定要设置group（随便写） 其他的mq可留空
          group: cntest-in-group
          destination: cntest-topic

eureka:
  client:
    service-url:
      defaultZone: http://sample:sample123@localhost:8761/eureka
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${server.port}}

