server:
  port: 8031

spring:
  application:
    name: ${artifactId}

#------------Eureka------------
eureka:
  client:
    service-url:
      defaultZone: http://sample:sample123@localhost:8761/eureka
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${server.port}}

turbine:
  app-config: cloud-order-service
  clusterNameExpression: "'default'"
